@charset "IBM437";

.logo{
	margin-top:200px;
}
#title{
	font-size: 25px;
	color:#ffffff;
	text-align: center;
	margin-top: 0px;
}
.top-content div{
	text-align: center;
}
.header-button{
	background: #ffffff;
	width: 400px;
	height: 60px;
	border-radius: 7px;	/* CSS3草案 */
	-webkit-border-radius: 7px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 7px;	/* Firefox用 */
	padding-top: 15px;

}
.header-button{
	margin: 0 auto;
	background-color: #2E9DF7;
}
#login_facebook{
	font-size: 20px;
	color: white;
	text-decoration: none;
	letter-spacing: 0.08em;
}
