<div class="signin-page">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Donathon</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><%= link_to 'Login', user_omniauth_authorize_path(:facebook) %></li>
                <li><a href="faq.html">FAQ</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">Donathon</h1>
          <p class="lead">A place where everyone can be more charitable, and help places where natural disasters occurred from your city.</p>

          <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-lg btn-facebook" do %>
            <i class="fa fa-facebook"></i>Join Donathon with <strong>Facebook</strong>
          <% end %>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>Made by <a href="https://github.com/koding/global.hackathon/blob/master/Teams/Gundam/ABOUT.md">Team Gundam</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
