$color-facebook: #3b5998;
$color-facebook-hover: #8b9dc3;

@import 'bootstrap';
@import 'font-awesome';

.main-view {
  pre {
    text-align: left;
  }

  #hi {
    li > a {
      color: black;
    }
  }
}

.btn-facebook {
  @include button-variant(#fff, $color-facebook, $color-facebook);
  @include transition-duration(0.5s);

  i.fa.fa-facebook {
    margin-right: 5px;
    padding-right: 10px;
    border-right: 2px white solid;
  }
}
